body {
  position: relative;
  font-family: 'Baloo', cursive;
}

.navbar{
	background:transparent;
}

li.top:hover{
	color: #fff;
}

h1{
	color: #3b3b3b;
}
h1:hover{
	color: #5A1F1F;
}

#intro{
	 background:url(img/body.jpg) no-repeat bottom center scroll;
	 background-size:100%;
	 width: 100%;
     height: 980px;
     padding: 10% 0;
}

#about{
	margin: 3% 0;
	text-align: center;
}

.pic-ichie{
	margin-left: 30em;
	margin-top: 2em;
	padding: 0;
	height: 400px;
}

.pic-banilad{
	height: 255px;
}

.btn-info, .btn-info:hover{
	background: transparent;
	height: 100px;
	width: 1000px;
}
ul, .collection .with-header{
	list-style-type: none;
}
#works{
	background:url(img/works.jpg) no-repeat bottom center scroll;
	background-size:100%;
	width: 100%;
	height: 700px;
	padding: 5% 2%;
	margin: 3% 0;
	text-align: center;
}
.thumbnail{
	margin: 3% 0;
	background: transparent;
	
}
#info{
	background-color: #AFEAFF;
	margin: -10% 0;
}